services:
  checker:
    class: ClickNow\Checker\Config\Checker
    arguments:
      - '@service_container'

  event-dispatcher:
    class: Symfony\Component\EventDispatcher\ContainerAwareEventDispatcher
    arguments:
      - '@service_container'

  executable-finder:
    class: Symfony\Component\Process\ExecutableFinder

  git.repository:
    class: Gitonomy\Git\Repository
    arguments:
      - '%git-dir%'
      - { logger: '@logger' }

  process-builder:
    class: Symfony\Component\Process\ProcessBuilder
