{
  "chmod": "0755",
  "directories": [
    "src",
    "resources"
  ],
  "files": [
    "LICENSE.md",
    "README.md"
  ],
  "finder": [
    {
      "name": "*.php",
      "exclude": [
        "Tests",
        "tests",
        "mockery",
        "phpdocumentor",
        "phpspec",
        "phpunit",
        "sebastian"
      ],
      "in": "vendor"
    }
  ],
  "compactors": [
    "Herrera\\Box\\Compactor\\Php",
    "Herrera\\Box\\Compactor\\Json"
  ],
  "git-version": "package_version",
  "main": "bin/checker",
  "output": "checker.phar",
  "stub": true
}
